body.has-featured-image.search-results {
	#content {
		margin-top: 0;
	}
}

article.archive {
	display: flex;
	margin-bottom: 2rem;
	min-height: 15rem;

	> section {
		flex: auto;

		&.featured-image {
			width: 25%;
			background-size: cover;
			background-position: center center;

			a {
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0.9;
			}

		}

		&.archive-content-container {

			width: 75%;
			padding: 1rem 0 1rem 2%;

			h3 {
				margin-top: 0;
				font-size: 3rem;
			}

		}
	}

}