
.page-title {
	display: block;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin: 1em 0 0 0;
	padding-top: 3rem;
	line-height: 1.2;
	font-size: 4em;
	letter-spacing: -1px;

	@include phone-only {
		font-size: 3em;
	}

	.smaller {
		font-size: 3rem;
		display: block;
		clear: both;
		letter-spacing: 0;
		font-family: $sans-serif;
		font-weight: normal;
		margin-bottom: -3rem;
	}

}

.centered-title {
	text-align: center;
}

// Services landing page (page child pages)

.page-children-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-items: center;
	justify-content: center;

	.child-page-box {
		text-align: center;
		margin: 1em 3vw;
		width: 15vw;
		min-width: 200px;
		max-width: 390px;

		@include phone-only {
			width: auto;
		}

		h6 {
			padding-top: 0.75em;
			margin: 0;
			line-height: 1.2;

			a {
				color: $default-text-color;
				text-decoration: none;

				&:hover {
					color: $default-link-color-hover;
				}
			}

		}

		.child-page-link {
			width: 15vw;
			height: 15vw;

			min-width: 200px;
			min-height: 200px;

			max-width: 390px;
			max-height: 390px;
			transition: all 300ms ease-in-out;



			&.round {
				border-radius: 50%;
				box-shadow: 1px 1px 0 rgba( darken( $dark, 30 ), 0.5 );

				svg {
					fill: $default-background-color !important;
					height: 65%;
					width: 65%;
					margin: 18% auto;

					filter: drop-shadow(0 1px 0 rgba( darken( $dark, 30 ), 0.25) ) url(#inset-shadow);
				}
			}

			&:hover {
				transform: scale( 1.1 );

			}
		}
	}
}


