
.page-title {
	display: block;
	text-align: center;
	position: relative;
	margin: 1em 0 0 0;
	padding-top: 3rem;
	line-height: 1.2;
	font-size: 4em;
	letter-spacing: -1px;

	@include phone-only {
		font-size: 3.3em;
	}

	.smaller {
		font-size: 3rem;
		display: block;
		clear: both;
		letter-spacing: 0;
		font-family: $sans-serif;
		font-weight: normal;
		margin-bottom: -3rem;

		@include phone-only {
			font-size: 2rem;
			margin-bottom: -1rem;
		}
	}
}

.page {

}

.centered-title {
	text-align: center;
}

#content {

	form.gmw-form {
		.address-locator-wrapper {
			width: 40%;

			input[type="text"] {
				font-size: 1.3rem;
				width: 100%;
			}
		}

		input[type="submit"] {
			padding: 0.3rem 0.8rem;
			font-size: 1.4rem;
		}
	}

	.gmw-pt-per-page-dropdown {
		height: auto !important;
	}

	.wppl-single-result {
		display: flex;
		align-items: stretch;
		box-sizing: border-box;

		> div {
			flex: 1;
			width: auto;
		}

		.wppl-title-holder {
			width: 50%;
			margin: 1rem 0 1rem 1rem;
			padding: 1rem;
			border-right: none;
		}
		#wppl-taxes-wrapper {
			display: none;
		}

		h2.wppl-h2 {
			line-height: 1.2;
			font-size: $h4-font-size;

			@include phone-only {
				font-size: calc( #{$h4-font-size} / 1.2 );
			}

			a {
				text-decoration: none;
			}
		}

		.wppl-info {
			width: auto;
			font-size: 1.8rem;
			line-height: 1.3;
			margin: 1rem 1rem 1rem 0;
			padding: 1rem;
			border-left: none;

			div span {
				font-size: 1.8rem;
				line-height: 1.3;
			}
		}

		@include tablet-down {
			display: block;

			.wppl-title-holder,
			.wppl-info {
				width: auto;
				display: block;
				margin: 0 1rem;
				border: 1px solid #ccc;
			}
			.wppl-title-holder {
				margin-top: 1rem;
				border-bottom: none;
			}
			.wppl-info {
				margin-bottom: 1rem;
				border-top: none;
			}
		}
	}
}

