//
// Grid
//
// What you will find here:
// 01. Basic grid elements


// ---------------- 01. Basic grid elements

.container {
	width: 90%;
	margin: 0 auto;
	max-width: $max-page-width;

	p {

	}
}

@include tablet-up {
	.row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.full-width {
			width: 100%;
		}
	}
	.main-column {
		width: $golden-large;
		padding-right: $gutter-width;
	}
	.secondary-column {
		width: ( 100% - $golden-large );
		padding-left: $gutter-width;
		padding-top: 5vh;
		padding-bottom: 8rem;

		.individual-chapter-page & {
			padding-top: 0;
		}
	}
}