.widget_search {
	form.search-form {
		display: flex;

		label {
			flex: 1;
		}
	}
	input[type="search"] {
		margin: 0 -2px 0 0;
		width: 100%;
	}
	input[type="submit"] {
		font-size: 80%;
		padding: 8px 10px;
		margin: 0 0 0 -5px;
	}
}
