.icon-email-dims {
	width: 100px;
	height: 100px;
}

.icon-etsy-dims {
	width: 32px;
	height: 32px;
}

.icon-facebook-dims {
	width: 32px;
	height: 32px;
}

.icon-flickr-dims {
	width: 32px;
	height: 32px;
}

.icon-folder-dims {
	width: 100px;
	height: 100px;
}

.icon-googleplus-dims {
	width: 32px;
	height: 32px;
}

.icon-instagram-dims {
	width: 32px;
	height: 32px;
}

.icon-linkedin-dims {
	width: 32px;
	height: 32px;
}

.icon-paypal-dims {
	width: 32px;
	height: 32px;
}

.icon-rss-dims {
	width: 32px;
	height: 32px;
}

.icon-spotify-dims {
	width: 32px;
	height: 32px;
}

.icon-tags-dims {
	width: 100px;
	height: 100px;
}

.icon-twitter-dims {
	width: 32px;
	height: 32px;
}

.icon-wordpressdotcom-dims {
	width: 32px;
	height: 32px;
}

.icon-youtube-dims {
	width: 32px;
	height: 32px;
}

