.yellow-fill {
	fill: $yellow;
}
.main-letter-color-fill {
	fill: $logo-blue;
}
.red-fill {
	fill: $red;
}

.site-header {
	background: $header-background-color;
	min-height: 30vh;
	transition: all 1500ms ease-in-out;
	transform: rotate(-2.1deg) skew(-2.1deg);
	padding-top: 8vh;
	margin-top: -7vh;
	margin-bottom: -3vh;
	z-index: 1000;

	nav.utility-navigation {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
	}
	@include tablet-up {
		nav.utility-navigation {
			transform: rotate(2.1deg);
			position: fixed;
			width: 100%;
			height: 30px;
			background: saturate( darken( $dark-blue, 8 ), 10 );
			top: 7vh;
			left: 0;
			right: 0;
			z-index: 190000;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				justify-content: flex-end;
			}
			li {

				margin: 0;
				padding: 0 3px 2px 3px;
				text-align: center;
			}

			svg.icon {
				fill: rgba( $yellow, 0.8 );
				max-height: 19px;
				transition: all $button-transition-speed ease-in-out;
				margin: 0 auto;
				cursor: pointer;

				&:hover {
					fill: rgba( $red, 0.9 );
				}
			}

			.search-form-area {
				font-size: 80%;
				width: 0;
				overflow: hidden;
				transition: all $button-transition-speed ease-in-out;

				input[type="search"],
				input[type="submit"] {
					font-size: 12px;
					opacity: 0;
					padding: 3px;
					transition: all $button-transition-speed ease-in-out;
				}
				input[type="search"] {
					background: rgba( $light, 0.1 );
					color: $light;
					width: 0;
				}
				&.show-search-form {
					width: 50%;

					input[type="search"] {
						opacity: 1;
						font-size: 12px;
						padding: 3px;
						width: 80%;
						background: rgba( $light, 0.1 );
						color: $light;
					}
					input[type="submit"] {
						opacity: 1;
						font-size: 12px;
						padding: 5px 4px;
					}
				}

			}

		}
	}


	.header-content {
		transform: rotate(2.1deg);
		transition: all 1500ms ease-in-out;
	}

	.logo {
		height: 12vh;
		width: auto;
		margin: 6vh auto;
		transform: skew(2.1deg);
		transition: all 1500ms ease-in-out;

		svg {
			max-height: 100%;
		}
		.main-letter-color-fill {
			fill: $white;
		}
	}

	.main-navigation {

		background-color: $yellow;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: inline-block;
		transform: translateY(1px);
		font-size: 85%;


		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			transition: all $button-transition-speed ease-in-out;


			> li {
				flex: 1;
				text-align: center;
				transition: all $button-transition-speed ease-in-out;
				position: relative;

				&.current_page_item {
					background: rgba( $light, 0.6 );
				}

				&:hover {
					background: rgba( $light, 0.6 );

					ul {
						height: auto;
						background: $yellow;

						ul {
							position: relative;
							background: rgba( $light, 0.05 );
							border-left: 8px solid $yellow;
							//border-bottom: 1px solid rgba( $dark-blue, 0.5 );

							li {
								border: 1px solid rgba( $yellow, 0.5 );
								margin-top: -1px;
							}

							a {
								padding: 0.35em 1em 0.35em 3em;
							}
						}
					}
				}

				ul {
					@include tablet-up {
						position: absolute;
					}

					width: 100%;
					display: block;
					height: 0;
					overflow: hidden;
					transition: all $button-transition-speed ease-in-out;

					li {
						text-align: left;
					}

				}

			}


		}

		a {
			color: $dark;
			text-decoration: none;
			padding: 1em;
			display: inline-block;
			transform: rotate(2.1deg);
			transition: all $button-transition-speed ease-in-out;

		}

	}

	&.smaller {
		background-color: $light;
		transform: rotate(0deg) skew(0deg);

		.header-content {
			transform: rotate(0deg);
		}

		.logo {
			transform: skew(0deg);

			svg {
				.main-letter-color-fill {
					fill: $logo-blue;
				}
			}
		}

		.main-navigation,
		.main-navigation-sticky {
			a {
				transform: rotate(0deg);
				padding: 0.5em 1em;
			}
		}
	}

}

.main-navigation-sticky {
	@include tablet-up {
		background-color: $yellow;
	}
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	display: none;
	font-size: 85%;

	.logged-in.admin-bar & {
		top: 32px;
	}

	&.show {
		display: inline-block;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		transition: all $button-transition-speed ease-in-out;


		> li {
			flex: 1;
			text-align: center;
			transition: all $button-transition-speed ease-in-out;
			position: relative;

			&.current_page_item {
				background: rgba( $light, 0.6 );
			}

			&:hover {
				background: rgba( $light, 0.6 );

				ul {
					height: auto;
					background: $yellow;

					ul {
						position: relative;
						background: rgba( $light, 0.05 );
						border-left: 8px solid $yellow;

						li {
							border: 1px solid rgba( $yellow, 0.5 );
							margin-top: -1px;
						}

						a {
							padding: 0.35em 1em 0.35em 3em;
						}
					}
				}
			}

			ul {
				position: absolute;
				width: 100%;
				display: block;
				height: 0;
				overflow: hidden;
				transition: all $button-transition-speed ease-in-out;

				li {
					text-align: left;
				}

			}

		}


	}

	a {
		color: $dark;
		text-decoration: none;
		padding: 0.5em 1em;
		display: inline-block;
		transition: all $button-transition-speed ease-in-out;

	}


}

@include tablet-down {
	.site-header {
		position: relative;

		nav.main-navigation {
			height: 10px;

			ul {
				display: none;
			}
		}
	}


	.mobile-nav-button {
		width:35px;
		position:fixed;
		margin:2rem;
		right:0;
		top:0;
		z-index:999999;
		cursor:pointer;
		height:30px;

		.mobile-nav-button__line {
			width:100%;
			height:4px;
			background:$yellow;
			position:relative;
			transition:1s ease;
			&:nth-of-type(2) {
				margin:0.5rem 0;
			}

		}
		.mobile-nav-button__line--1 {
			transform: rotate(45deg);
			top: 13px;
			position: absolute;
			background:$dark;
		}
		.mobile-nav-button__line--2 {
			display: none;
		}
		.mobile-nav-button__line--3 {
			transform: rotate(135deg);
			top: 13px;
			position: absolute;
			background:$dark;
		}
	}

	//Mobile Menu

	.mobile-menu {
		display:block;
		max-width:100vw;
		width:100%;
		right:-100%;
		height: auto;
		min-height: 100vh;
		background: $yellow;
		position:fixed;
		z-index:9998;
		transition: 0.6s ease;
		overflow-y: scroll;
		overflow-x: hidden;
		top:0;
		opacity:0;
		font-size: 3rem;

		> ul {
			position: relative;
			top: 55px;
			display: block;
			padding:0;

			> li {
				list-style: none;
				a {
					width:100%;
					max-width:1200px;
					margin:0 auto;
					display:block;
					text-align: left;
					text-decoration:none;
					color:$dark;
					font-size: 2.2rem;
					font-weight: bold;
					position:relative;
					cursor:pointer;
					&:hover {
						background-color: rgba( $light, 0.05 );
					}
				}

				ul {
					position: relative;
					height: auto;
					background: rgba( $light, 0.05 );

					a {
						font-size: 1.5rem;
					}

					ul {
						position: relative;
						background: rgba( $light, 0.05 );
						border-left: 8px solid $yellow;

						li {
							border: 1px solid rgba( $yellow, 0.5 );
							margin-top: -1px;
						}

						a {
							padding: 0.35em 1em 0.35em 3em;
							font-weight: normal;
							font-size: 2rem;
						}
					}
				}
			}

			ul {
				margin: 0;
				padding: 0;

				li {
					a {
						padding-left: 4rem;
					}
				}
			}
		}

	}
	.mobile-menu--open {
		right:0;
		opacity:1;
	}
}
