/******************************************************************
	
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
@import url("https://use.typekit.net/znn6aqz.css");
.assistive-text,
.visuallyhidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-size: 22px;
  margin: 0;
  background-color: #F2F2F2;
  color: #202020;
  font-family: "soleil", sans-serif;
  font-style: normal;
  font-weight: 300;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-tap-highlight-color: #ff0;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 600px) {
    body {
      font-size: calc( 22px / 1.3);
      line-height: 1.2; } }

.highlight,
::-moz-selection {
  background: #ff0; }

.highlight,
::selection {
  background: #ff0; }

div.site-content {
  -ms-flex: 1;
  flex: 1; }

a {
  color: #B42125; }
  a:hover, a:focus, a:active {
    color: #89191c; }

blockquote {
  position: relative;
  padding: 1rem; }
  blockquote:before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 90px;
    font-weight: bold;
    opacity: 0.2;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem; }

.hide-this {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute; }
  .hide-this svg {
    display: none; }

.inverse {
  color: #fff; }
  .inverse a,
  .inverse a:visited {
    color: #F4CA1A; }
    .inverse a:hover, .inverse a:focus, .inverse a:active,
    .inverse a:visited:hover,
    .inverse a:visited:focus,
    .inverse a:visited:active {
      color: #F2F2F2; }
    .inverse a.button:hover,
    .inverse a:visited.button:hover {
      color: #fff !important; }
  .inverse svg {
    fill: #fff !important; }

.button,
input[type="submit"],
button {
  background: rgba(171, 38, 38, 0.9);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #581313;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.43);
  box-shadow: 0 0 3px rgba(171, 38, 38, 0.5);
  transition: all 400ms ease-in-out;
  text-shadow: none;
  font-weight: bold;
  border: none;
  outline: none; }
  .button:hover, .button:focus, .button:visited:hover,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:visited:hover,
  button:hover,
  button:focus,
  button:visited:hover {
    background: transparent;
    color: #B42125 !important; }
  .button.full,
  input[type="submit"].full,
  button.full {
    display: block;
    text-align: center; }

.learn-more-button {
  padding-bottom: 2rem; }

.padding {
  padding: 4rem; }

.centered-text {
  text-align: center; }

a.no-style {
  color: #202020;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "soleil", sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 0.3em; }

h1 {
  font-size: 59.4px; }
  @media (max-width: 600px) {
    h1 {
      font-size: calc( 59.4px / 1.3); } }

h2 {
  font-size: 55px; }
  @media (max-width: 600px) {
    h2 {
      font-size: calc( 55px / 1.3); } }

h3 {
  font-size: 48.4px; }
  @media (max-width: 600px) {
    h3 {
      font-size: calc( 48.4px / 1.3); } }

h4 {
  font-size: 41.8px; }
  @media (max-width: 600px) {
    h4 {
      font-size: calc( 41.8px / 1.3); } }

h5 {
  font-size: 30.8px; }
  @media (max-width: 600px) {
    h5 {
      font-size: calc( 30.8px / 1.3); } }

h6 {
  font-size: 24.2px;
  margin: 1em 0 0 0; }
  @media (max-width: 600px) {
    h6 {
      font-size: calc( 24.2px / 1.3); } }

.plain-background,
.none-background {
  color: #202020;
  text-shadow: none;
  background: #F2F2F2; }
  .plain-background a,
  .plain-background a:visited,
  .none-background a,
  .none-background a:visited {
    color: #B42125; }
    .plain-background a:hover, .plain-background a:focus, .plain-background a:active,
    .plain-background a:visited:hover,
    .plain-background a:visited:focus,
    .plain-background a:visited:active,
    .none-background a:hover,
    .none-background a:focus,
    .none-background a:active,
    .none-background a:visited:hover,
    .none-background a:visited:focus,
    .none-background a:visited:active {
      color: #89191c; }
    .plain-background a.button:hover,
    .plain-background a:visited.button:hover,
    .none-background a.button:hover,
    .none-background a:visited.button:hover {
      color: #202020 !important; }
  .plain-background svg,
  .none-background svg {
    fill: #202020 !important; }

.inverse-background {
  color: #fff;
  background-color: #202020; }
  .inverse-background a,
  .inverse-background a:visited {
    color: #F4CA1A; }
    .inverse-background a:hover, .inverse-background a:focus, .inverse-background a:active,
    .inverse-background a:visited:hover,
    .inverse-background a:visited:focus,
    .inverse-background a:visited:active {
      color: #F2F2F2; }
    .inverse-background a.button:hover,
    .inverse-background a:visited.button:hover {
      color: #fff !important; }
  .inverse-background svg {
    fill: #fff !important; }

.dark-blue-background {
  color: #fff;
  background-color: #071A33; }
  .dark-blue-background a,
  .dark-blue-background a:visited {
    color: #F4CA1A; }
    .dark-blue-background a:hover, .dark-blue-background a:focus, .dark-blue-background a:active,
    .dark-blue-background a:visited:hover,
    .dark-blue-background a:visited:focus,
    .dark-blue-background a:visited:active {
      color: #F2F2F2; }
    .dark-blue-background a.button:hover,
    .dark-blue-background a:visited.button:hover {
      color: #fff !important; }
  .dark-blue-background svg {
    fill: #fff !important; }

.green-background {
  color: #202020;
  text-shadow: none;
  background-color: #9fde10; }
  .green-background a,
  .green-background a:visited {
    color: #B42125; }
    .green-background a:hover, .green-background a:focus, .green-background a:active,
    .green-background a:visited:hover,
    .green-background a:visited:focus,
    .green-background a:visited:active {
      color: #89191c; }
    .green-background a.button:hover,
    .green-background a:visited.button:hover {
      color: #202020 !important; }
  .green-background svg {
    fill: #202020 !important; }

.yellow-background {
  color: #202020;
  text-shadow: none;
  background-color: #F4CA1A; }
  .yellow-background a,
  .yellow-background a:visited {
    color: #B42125; }
    .yellow-background a:hover, .yellow-background a:focus, .yellow-background a:active,
    .yellow-background a:visited:hover,
    .yellow-background a:visited:focus,
    .yellow-background a:visited:active {
      color: #89191c; }
    .yellow-background a.button:hover,
    .yellow-background a:visited.button:hover {
      color: #202020 !important; }
  .yellow-background svg {
    fill: #202020 !important; }

.red-background {
  color: #fff;
  background-color: #ab2626; }
  .red-background a,
  .red-background a:visited {
    color: #F4CA1A; }
    .red-background a:hover, .red-background a:focus, .red-background a:active,
    .red-background a:visited:hover,
    .red-background a:visited:focus,
    .red-background a:visited:active {
      color: #F2F2F2; }
    .red-background a.button:hover,
    .red-background a:visited.button:hover {
      color: #fff !important; }
  .red-background svg {
    fill: #fff !important; }

.blue-gradient-background {
  color: #fff;
  background-image: linear-gradient(-60deg, rgba(0, 213, 251, 0.9) 0%, rgba(7, 26, 51, 0.9) 100%); }
  .blue-gradient-background a,
  .blue-gradient-background a:visited {
    color: #F4CA1A; }
    .blue-gradient-background a:hover, .blue-gradient-background a:focus, .blue-gradient-background a:active,
    .blue-gradient-background a:visited:hover,
    .blue-gradient-background a:visited:focus,
    .blue-gradient-background a:visited:active {
      color: #F2F2F2; }
    .blue-gradient-background a.button:hover,
    .blue-gradient-background a:visited.button:hover {
      color: #fff !important; }
  .blue-gradient-background svg {
    fill: #fff !important; }

.red-gradient-background {
  color: #fff;
  background-image: linear-gradient(-60deg, rgba(244, 92, 17, 0.9) 0%, rgba(171, 38, 38, 0.9) 100%); }
  .red-gradient-background a,
  .red-gradient-background a:visited {
    color: #F4CA1A; }
    .red-gradient-background a:hover, .red-gradient-background a:focus, .red-gradient-background a:active,
    .red-gradient-background a:visited:hover,
    .red-gradient-background a:visited:focus,
    .red-gradient-background a:visited:active {
      color: #F2F2F2; }
    .red-gradient-background a.button:hover,
    .red-gradient-background a:visited.button:hover {
      color: #fff !important; }
  .red-gradient-background svg {
    fill: #fff !important; }

.green-gradient-background {
  color: #202020;
  text-shadow: none;
  background-image: linear-gradient(120deg, #9fde10 0%, #d5f419 100%); }
  .green-gradient-background a,
  .green-gradient-background a:visited {
    color: #B42125; }
    .green-gradient-background a:hover, .green-gradient-background a:focus, .green-gradient-background a:active,
    .green-gradient-background a:visited:hover,
    .green-gradient-background a:visited:focus,
    .green-gradient-background a:visited:active {
      color: #89191c; }
    .green-gradient-background a.button:hover,
    .green-gradient-background a:visited.button:hover {
      color: #202020 !important; }
  .green-gradient-background svg {
    fill: #202020 !important; }

.light-gradient-background {
  color: #202020;
  text-shadow: none;
  background-image: linear-gradient(-60deg, rgba(244, 241, 28, 0.9) 0%, rgba(244, 202, 26, 0.95) 100%); }
  .light-gradient-background a,
  .light-gradient-background a:visited {
    color: #B42125; }
    .light-gradient-background a:hover, .light-gradient-background a:focus, .light-gradient-background a:active,
    .light-gradient-background a:visited:hover,
    .light-gradient-background a:visited:focus,
    .light-gradient-background a:visited:active {
      color: #89191c; }
    .light-gradient-background a.button:hover,
    .light-gradient-background a:visited.button:hover {
      color: #202020 !important; }
  .light-gradient-background svg {
    fill: #202020 !important; }

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1150px; }

@media (min-width: 900px) {
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-column {
    width: 63.8%;
    padding-right: 30px; }
  .secondary-column {
    width: 36.2%;
    padding-left: 30px; } }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.alignleft {
  float: left;
  margin: 0.8rem 1.6rem 0.8rem 0; }

.alignright {
  float: right;
  margin: 0.8rem 0 0.8rem 1.6rem; }

.wp-caption {
  text-align: center; }

div.wp-caption {
  background: #F2F2F2;
  border: 1px solid rgba(244, 202, 26, 0.5);
  border-radius: 0 0 0 20px;
  max-width: calc( 100% - 2px); }
  div.wp-caption.alignright {
    max-width: 50%; }
  div.wp-caption.alignleft {
    max-width: 50%; }

img.alignright {
  float: right;
  margin: 2rem 0 2rem 2rem;
  max-width: 50%; }

img.alignleft {
  float: left;
  margin: 2rem 2rem 2rem 0;
  max-width: 50%; }

img.aligncenter {
  width: 95%;
  clear: both;
  height: auto;
  margin: 2rem auto;
  max-width: none; }

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  padding: 2rem;
  margin: 2rem auto; }
  .gallery li {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex: 33.333%;
    flex: 33.333%;
    margin: 0; }
  .gallery a {
    display: block; }

/**
 * base form styles
 */
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="month"],
input[type="week"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
select,
textarea {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid rgba(32, 32, 32, 0.2);
  border-radius: 3px;
  background: #F2F2F2;
  font-size: 22px;
  font-family: "soleil", sans-serif;
  margin-left: 1rem;
  box-shadow: none;
  -webkit-appearance: none; }
  input[type="email"]:hover,
  input[type="number"]:hover,
  input[type="password"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="text"]:hover,
  input[type="url"]:hover,
  input[type="month"]:hover,
  input[type="week"]:hover,
  input[type="date"]:hover,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:hover,
  select:hover,
  textarea:hover {
    border: 1px solid #071A33; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="url"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border: 1px dotted #F4CA1A;
    background: #F2F2F2; }

input[type="submit"] {
  font-size: 22px;
  font-family: "soleil", sans-serif; }

.frm_form_field.frm_left_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_left_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_left_container textarea, .frm_form_field.frm_left_container .wp-editor-wrap, .frm_form_field.frm_left_container .frm_opt_container, .frm_form_field.frm_left_container .frm_dropzone, .frm_form_field.frm_left_container .frm-g-recaptcha, .frm_form_field.frm_left_container .g-recaptcha, .frm_form_field.frm_left_container .chosen-container, .frm_form_field.frm_left_container .frm_combo_inputs_container, .frm_form_field.frm_right_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_right_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_right_container textarea, .frm_form_field.frm_right_container .wp-editor-wrap, .frm_form_field.frm_right_container .frm_opt_container, .frm_form_field.frm_right_container .frm_dropzone, .frm_form_field.frm_right_container .frm-g-recaptcha, .frm_form_field.frm_right_container .g-recaptcha, .frm_form_field.frm_right_container .chosen-container, .frm_form_field.frm_right_container .frm_combo_inputs_container {
  max-width: 100%; }

.frm_form_field.frm_left_container label.frm_primary_label {
  max-width: 90%; }

.widget_search form.search-form {
  display: -ms-flexbox;
  display: flex; }
  .widget_search form.search-form label {
    -ms-flex: 1;
    flex: 1; }

.widget_search input[type="search"] {
  margin: 0 -2px 0 0;
  width: 100%; }

.widget_search input[type="submit"] {
  font-size: 80%;
  padding: 8px 10px;
  margin: 0 0 0 -5px; }

.yellow-fill {
  fill: #F4CA1A; }

.main-letter-color-fill {
  fill: #232D45; }

.red-fill {
  fill: #B42125; }

.site-header {
  background: #071A33;
  min-height: 30vh;
  transition: all 1500ms ease-in-out;
  transform: rotate(-2.1deg) skew(-2.1deg);
  padding-top: 8vh;
  margin-top: -7vh;
  margin-bottom: -3vh;
  z-index: 1000; }
  .site-header .header-content {
    transform: rotate(2.1deg);
    transition: all 1500ms ease-in-out; }
  .site-header .logo {
    height: 12vh;
    width: auto;
    margin: 6vh auto;
    transform: skew(2.1deg);
    transition: all 1500ms ease-in-out; }
    .site-header .logo svg {
      max-height: 100%; }
    .site-header .logo .main-letter-color-fill {
      fill: #fff; }
  .site-header .main-navigation {
    background-color: #F4CA1A;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    transform: translateY(1px);
    font-size: 85%; }
    .site-header .main-navigation ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      transition: all 400ms ease-in-out; }
      .site-header .main-navigation ul > li {
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        transition: all 400ms ease-in-out;
        position: relative; }
        .site-header .main-navigation ul > li.current_page_item {
          background: rgba(242, 242, 242, 0.6); }
        .site-header .main-navigation ul > li:hover {
          background: rgba(242, 242, 242, 0.6); }
          .site-header .main-navigation ul > li:hover ul {
            height: auto;
            background: #F4CA1A; }
            .site-header .main-navigation ul > li:hover ul ul {
              position: relative;
              background: rgba(242, 242, 242, 0.05);
              border-left: 8px solid #F4CA1A; }
              .site-header .main-navigation ul > li:hover ul ul li {
                border: 1px solid rgba(244, 202, 26, 0.5);
                margin-top: -1px; }
              .site-header .main-navigation ul > li:hover ul ul a {
                padding: 0.35em 1em 0.35em 3em; }
        .site-header .main-navigation ul > li ul {
          width: 100%;
          display: block;
          height: 0;
          overflow: hidden;
          transition: all 400ms ease-in-out; }
          @media (min-width: 900px) {
            .site-header .main-navigation ul > li ul {
              position: absolute; } }
          .site-header .main-navigation ul > li ul li {
            text-align: left; }
    .site-header .main-navigation a {
      color: #202020;
      text-decoration: none;
      padding: 1em;
      display: inline-block;
      transform: rotate(2.1deg);
      transition: all 400ms ease-in-out; }
  .site-header.smaller {
    background-color: #F2F2F2;
    transform: rotate(0deg) skew(0deg); }
    .site-header.smaller .header-content {
      transform: rotate(0deg); }
    .site-header.smaller .logo {
      transform: skew(0deg); }
      .site-header.smaller .logo svg .main-letter-color-fill {
        fill: #232D45; }
    .site-header.smaller .main-navigation a,
    .site-header.smaller .main-navigation-sticky a {
      transform: rotate(0deg);
      padding: 0.5em 1em; }

.main-navigation-sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  display: none; }
  .main-navigation-sticky.show {
    display: inline-block; }
  .main-navigation-sticky ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    transition: all 400ms ease-in-out; }
    .main-navigation-sticky ul > li {
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      transition: all 400ms ease-in-out;
      position: relative; }
      .main-navigation-sticky ul > li.current_page_item {
        background: rgba(242, 242, 242, 0.6); }
      .main-navigation-sticky ul > li:hover {
        background: rgba(242, 242, 242, 0.6); }
        .main-navigation-sticky ul > li:hover ul {
          height: auto;
          background: #F4CA1A; }
          .main-navigation-sticky ul > li:hover ul ul {
            position: relative;
            background: rgba(242, 242, 242, 0.05);
            border-left: 8px solid #F4CA1A; }
            .main-navigation-sticky ul > li:hover ul ul li {
              border: 1px solid rgba(244, 202, 26, 0.5);
              margin-top: -1px; }
            .main-navigation-sticky ul > li:hover ul ul a {
              padding: 0.35em 1em 0.35em 3em; }
      .main-navigation-sticky ul > li ul {
        position: absolute;
        width: 100%;
        display: block;
        height: 0;
        overflow: hidden;
        transition: all 400ms ease-in-out; }
        .main-navigation-sticky ul > li ul li {
          text-align: left; }
  .main-navigation-sticky a {
    color: #202020;
    text-decoration: none;
    padding: 0.5em 1em;
    display: inline-block;
    transition: all 400ms ease-in-out; }

@media (max-width: 900px) {
  .site-header {
    position: relative; }
    .site-header nav.main-navigation {
      height: 10px; }
      .site-header nav.main-navigation ul {
        display: none; }
  .mobile-nav-button {
    width: 35px;
    position: fixed;
    margin: 2rem;
    right: 0;
    top: 0;
    z-index: 999999;
    cursor: pointer;
    height: 30px; }
    .mobile-nav-button .mobile-nav-button__line {
      width: 100%;
      height: 4px;
      background: #F4CA1A;
      position: relative;
      transition: 1s ease; }
      .mobile-nav-button .mobile-nav-button__line:nth-of-type(2) {
        margin: 0.5rem 0; }
    .mobile-nav-button .mobile-nav-button__line--1 {
      transform: rotate(45deg);
      top: 13px;
      position: absolute;
      background: #202020; }
    .mobile-nav-button .mobile-nav-button__line--2 {
      display: none; }
    .mobile-nav-button .mobile-nav-button__line--3 {
      transform: rotate(135deg);
      top: 13px;
      position: absolute;
      background: #202020; }
  .mobile-menu {
    display: block;
    width: 100%;
    right: -100%;
    height: auto;
    min-height: 100vh;
    background: #F4CA1A;
    position: fixed;
    z-index: 9998;
    transition: 0.6s ease;
    overflow-y: scroll;
    top: 0;
    opacity: 0;
    font-size: 4rem; }
    .mobile-menu > ul {
      position: relative;
      top: 55px;
      display: block;
      padding: 0; }
      .mobile-menu > ul > li {
        list-style: none; }
        .mobile-menu > ul > li a {
          width: 100%;
          max-width: 1200px;
          margin: 0 auto;
          display: block;
          text-align: left;
          text-decoration: none;
          color: #202020;
          font-size: 3rem;
          font-weight: bold;
          position: relative;
          cursor: pointer; }
          .mobile-menu > ul > li a:hover {
            background-color: rgba(242, 242, 242, 0.05); }
        .mobile-menu > ul > li ul {
          position: relative;
          height: auto;
          background: rgba(242, 242, 242, 0.05); }
          .mobile-menu > ul > li ul a {
            font-size: 2.3rem; }
          .mobile-menu > ul > li ul ul {
            position: relative;
            background: rgba(242, 242, 242, 0.05);
            border-left: 8px solid #F4CA1A; }
            .mobile-menu > ul > li ul ul li {
              border: 1px solid rgba(244, 202, 26, 0.5);
              margin-top: -1px; }
            .mobile-menu > ul > li ul ul a {
              padding: 0.35em 1em 0.35em 3em;
              font-weight: normal;
              font-size: 2rem; }
      .mobile-menu > ul ul {
        margin: 0;
        padding: 0; }
        .mobile-menu > ul ul li a {
          padding-left: 4rem; }
  .mobile-menu--open {
    right: 0;
    opacity: 1; } }

#main {
  width: 100%; }

body:not(.has-featured-image) #main > section:first-of-type:not(.type-hero),
body:not(.has-featured-image) #main > article:first-of-type {
  padding-top: 5vh; }

body.has-featured-image .featured-image-background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden; }
  body.has-featured-image .featured-image-background-container .featured-image-background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; }
  body.has-featured-image .featured-image-background-container .featured-image-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.86; }

body.has-featured-image #content {
  margin-top: 45vh;
  position: relative;
  z-index: 5;
  background: #F2F2F2; }

footer.site-footer {
  background: #202020;
  padding: 2rem 0;
  color: #F2F2F2;
  position: relative;
  z-index: 5; }
  footer.site-footer a {
    color: #F4CA1A; }
    footer.site-footer a:hover {
      color: #F2F2F2; }
  footer.site-footer .footer-widget-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 900px) {
      footer.site-footer .footer-widget-area {
        display: block; } }
    footer.site-footer .footer-widget-area > div {
      -ms-flex: 1;
      flex: 1;
      margin: 2em 0;
      padding: 2em 1em 2em 1.2em;
      border-right: 1px solid rgba(242, 242, 242, 0.3); }
      @media (max-width: 900px) {
        footer.site-footer .footer-widget-area > div {
          max-width: 100%;
          display: block;
          clear: both;
          border-right: none;
          border-bottom: 1px solid rgba(242, 242, 242, 0.3);
          text-align: center; } }
      footer.site-footer .footer-widget-area > div:last-child {
        border-right: none; }
        @media (max-width: 900px) {
          footer.site-footer .footer-widget-area > div:last-child {
            border-bottom: none; } }
    footer.site-footer .footer-widget-area .widget_nav_menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    footer.site-footer .footer-widget-area h4.widgettitle {
      text-align: center; }
    footer.site-footer .footer-widget-area div.column div.widget:first-child h4.widgettitle {
      margin-top: 0; }
  footer.site-footer .social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    clear: both; }
    footer.site-footer .social-links li {
      display: inline; }
      footer.site-footer .social-links li span {
        padding: 1rem; }
      footer.site-footer .social-links li a {
        text-decoration: none; }
  footer.site-footer .container p {
    padding: 0; }

.page-section {
  padding: 0;
  overflow: hidden; }

.section-title {
  margin-top: 0;
  text-align: center;
  padding: 4rem 10px 0 10px;
  line-height: 1.2; }
  .type-none .section-title {
    margin: 0;
    padding: 4rem 10px; }
  @media (max-width: 600px) {
    .section-title {
      font-size: 1.5em; } }

.section-intro-text {
  text-align: center; }

.type-hero .hero {
  min-height: 75vh;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  z-index: 0; }
  .type-hero .hero .hero-text-container {
    font-size: 1.5em;
    padding: 7vw 1em 1em 1em;
    margin: 0 55vw 0 4vw;
    overflow: hidden; }
    .type-hero .hero .hero-text-container p:first-child {
      margin-top: 0; }
    @media (max-width: 900px) {
      .type-hero .hero .hero-text-container {
        background: rgba(242, 242, 242, 0.8); } }
  @media (max-width: 600px) {
    .type-hero .hero {
      min-height: 60vh;
      background-size: 200% auto;
      background-repeat: no-repeat; }
      .type-hero .hero .hero-text-container {
        margin: 30vh 0 0 0;
        position: relative;
        float: right;
        padding: 0.5em; } }

.featured-blog-post-container,
.text-image-grid-container {
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 600px) {
    .featured-blog-post-container,
    .text-image-grid-container {
      display: block; } }
  .featured-blog-post-container.image-text,
  .text-image-grid-container.image-text {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .featured-blog-post-container.thirds > div,
  .text-image-grid-container.thirds > div {
    -ms-flex: auto;
    flex: auto; }
    .featured-blog-post-container.thirds > div.text-side,
    .text-image-grid-container.thirds > div.text-side {
      width: 63.8%; }
    .featured-blog-post-container.thirds > div.image-side,
    .text-image-grid-container.thirds > div.image-side {
      width: calc( 100vw - 63.8%); }
  .featured-blog-post-container > div,
  .text-image-grid-container > div {
    -ms-flex: 1;
    flex: 1; }
    .featured-blog-post-container > div.text-side,
    .text-image-grid-container > div.text-side {
      background: #F2F2F2;
      color: #202020;
      text-shadow: none;
      text-shadow: none; }
      .featured-blog-post-container > div.text-side a,
      .featured-blog-post-container > div.text-side a:visited,
      .text-image-grid-container > div.text-side a,
      .text-image-grid-container > div.text-side a:visited {
        color: #B42125; }
        .featured-blog-post-container > div.text-side a:hover, .featured-blog-post-container > div.text-side a:focus, .featured-blog-post-container > div.text-side a:active,
        .featured-blog-post-container > div.text-side a:visited:hover,
        .featured-blog-post-container > div.text-side a:visited:focus,
        .featured-blog-post-container > div.text-side a:visited:active,
        .text-image-grid-container > div.text-side a:hover,
        .text-image-grid-container > div.text-side a:focus,
        .text-image-grid-container > div.text-side a:active,
        .text-image-grid-container > div.text-side a:visited:hover,
        .text-image-grid-container > div.text-side a:visited:focus,
        .text-image-grid-container > div.text-side a:visited:active {
          color: #89191c; }
        .featured-blog-post-container > div.text-side a.button:hover,
        .featured-blog-post-container > div.text-side a:visited.button:hover,
        .text-image-grid-container > div.text-side a.button:hover,
        .text-image-grid-container > div.text-side a:visited.button:hover {
          color: #202020 !important; }
      .featured-blog-post-container > div.text-side svg,
      .text-image-grid-container > div.text-side svg {
        fill: #202020 !important; }
      .featured-blog-post-container > div.text-side h2,
      .text-image-grid-container > div.text-side h2 {
        line-height: 1.2; }
        .featured-blog-post-container > div.text-side h2 a,
        .text-image-grid-container > div.text-side h2 a {
          color: #202020 !important;
          text-decoration: none; }
      .featured-blog-post-container > div.text-side .padding,
      .text-image-grid-container > div.text-side .padding {
        padding: 4em; }
    .featured-blog-post-container > div.image-side,
    .text-image-grid-container > div.image-side {
      background-size: cover;
      background-position: 50% 50%; }
      @media (max-width: 600px) {
        .featured-blog-post-container > div.image-side,
        .text-image-grid-container > div.image-side {
          min-height: 45vh; } }

/**
 * WYSIWYG
 */
.type-wysiwyg .container {
  padding: 4rem 0; }
  .type-wysiwyg .container .padding {
    padding-left: 0;
    padding-right: 0; }

/**
 * Columns section
 */
.type-three_col .columns-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 6rem 0; }
  @media (max-width: 600px) {
    .type-three_col .columns-wrapper {
      display: block; } }
  .type-three_col .columns-wrapper .column {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media (max-width: 600px) {
      .type-three_col .columns-wrapper .column {
        width: 100%;
        display: block; } }
    .type-three_col .columns-wrapper .column > div {
      padding: 0 3rem;
      -ms-flex: 1;
      flex: 1; }
      @media (max-width: 600px) {
        .type-three_col .columns-wrapper .column > div {
          display: block; } }
      .type-three_col .columns-wrapper .column > div:last-child {
        -ms-flex-item-align: center;
        align-self: center;
        text-align: center; }
    .type-three_col .columns-wrapper .column .column-title {
      margin: 0;
      padding: 2rem 0 0 0;
      line-height: 1.2;
      text-align: center; }
    .type-three_col .columns-wrapper .column .column-body {
      -ms-flex: 1;
      flex: 1;
      -ms-flex-positive: 3;
      flex-grow: 3; }
  .type-three_col .columns-wrapper div.column ~ div.column {
    margin-left: 30px; }
    @media (min-width: 600px) and (max-width: 1200px) {
      .type-three_col .columns-wrapper div.column ~ div.column {
        margin-left: calc( 30px / 2); } }
  @media (max-width: 600px) {
    .type-three_col .columns-wrapper div.column ~ div.column {
      margin: 0; } }

/**
 * Content collection
 */
.type-content_collection .content-collection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc( 90% - 3ch);
  margin: 0 auto;
  padding: 0 0 3rem 0; }
  @media (max-width: 600px) {
    .type-content_collection .content-collection {
      display: block;
      width: 90%; } }
  .type-content_collection .content-collection > article {
    -ms-flex: 1;
    flex: 1;
    min-width: 25ch;
    max-width: 50ch;
    margin: 1.5ch; }
    @media (max-width: 600px) {
      .type-content_collection .content-collection > article {
        border-top: 1px dotted #202020;
        padding-top: 2rem;
        margin: 0; } }
    .type-content_collection .content-collection > article .article-header {
      display: block; }
      .type-content_collection .content-collection > article .article-header img {
        border-radius: 0 0 0 25px; }
    .type-content_collection .content-collection > article h2 {
      margin: 0;
      line-height: 1.2;
      font-size: 4rem; }
      .type-content_collection .content-collection > article h2 a {
        text-decoration: none; }
    .type-content_collection .content-collection > article p.byline {
      padding: 0;
      font-size: 80%; }

/**
 * Page Grid
 */
.type-page_grid .page-grid-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }
  .type-page_grid .page-grid-container > div {
    -ms-flex: 1;
    flex: 1;
    min-height: 40vh;
    background-size: cover;
    position: relative;
    min-width: 400px; }
    @media (max-width: 600px) {
      .type-page_grid .page-grid-container > div {
        -ms-flex: none;
        flex: none;
        display: block;
        min-height: 30vh;
        min-width: 0;
        width: 100%; } }
    .type-page_grid .page-grid-container > div :after {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 15px;
      bottom: 15px;
      left: 15px;
      right: 15px;
      border: 2px solid rgba(242, 242, 242, 0.5); }
    .type-page_grid .page-grid-container > div a {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-decoration: none; }
      .type-page_grid .page-grid-container > div a:hover strong {
        background: rgba(242, 242, 242, 0);
        color: #fff; }
      .type-page_grid .page-grid-container > div a strong {
        text-align: center;
        padding: 0.5em 1em;
        font-size: 4rem;
        margin: 5em 0;
        background: #f2f2f2;
        transition: all 0.75s ease 0s; }
        @media (max-width: 600px) {
          .type-page_grid .page-grid-container > div a strong {
            margin: 3em 0;
            font-size: 3rem;
            padding: 0.4em 0.9em; } }

.page-title {
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 1em 0 0 0;
  padding-top: 3rem;
  line-height: 1.2;
  font-size: 4em;
  letter-spacing: -1px; }
  @media (max-width: 600px) {
    .page-title {
      font-size: 3em; } }
  .page-title .smaller {
    font-size: 3rem;
    display: block;
    clear: both;
    letter-spacing: 0;
    font-family: "soleil", sans-serif;
    font-weight: normal;
    margin-bottom: -3rem; }

.centered-title {
  text-align: center; }

.page-children-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  justify-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .page-children-grid .child-page-box {
    text-align: center;
    margin: 1em 3vw;
    width: 15vw;
    min-width: 200px;
    max-width: 390px; }
    @media (max-width: 600px) {
      .page-children-grid .child-page-box {
        width: auto; } }
    .page-children-grid .child-page-box h6 {
      padding-top: 0.75em;
      margin: 0;
      line-height: 1.2; }
      .page-children-grid .child-page-box h6 a {
        color: #202020;
        text-decoration: none; }
        .page-children-grid .child-page-box h6 a:hover {
          color: #89191c; }
    .page-children-grid .child-page-box .child-page-link {
      width: 15vw;
      height: 15vw;
      min-width: 200px;
      min-height: 200px;
      max-width: 390px;
      max-height: 390px;
      transition: all 300ms ease-in-out; }
      .page-children-grid .child-page-box .child-page-link.round {
        border-radius: 50%;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
        .page-children-grid .child-page-box .child-page-link.round svg {
          fill: #F2F2F2 !important;
          height: 65%;
          width: 65%;
          margin: 18% auto;
          filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.25)) url(#inset-shadow); }
      .page-children-grid .child-page-box .child-page-link:hover {
        transform: scale(1.1); }

header.article-header .byline {
  padding: 0 0 6rem 0; }

#respond h3 {
  font-size: 3rem; }
  #respond h3 small {
    font-size: 22px;
    font-family: "soleil", sans-serif;
    font-weight: normal; }

ol.commentlist {
  margin: 1em 0;
  padding: 0;
  list-style: none; }
  ol.commentlist li {
    padding: 0;
    margin: 0; }
    ol.commentlist li .media-object {
      padding: 1em;
      display: -ms-flexbox;
      display: flex; }
      ol.commentlist li .media-object .media-object-section > article {
        padding: 0.5em 1em;
        background: rgba(244, 202, 26, 0.065);
        border-radius: 0 0 0 20px; }
      ol.commentlist li .media-object .media-object-section p {
        padding: 0; }
        ol.commentlist li .media-object .media-object-section p label {
          left: 1.5rem;
          top: -1.5rem;
          background: #F2F2F2; }
          @media (max-width: 900px) {
            ol.commentlist li .media-object .media-object-section p label {
              left: 1.25rem; } }
      ol.commentlist li .media-object .media-object-section:last-child {
        -ms-flex: 1;
        flex: 1; }
    ol.commentlist li ul {
      list-style: none;
      margin: 0 0 0 3em;
      padding: 0; }

nav.next-and-previous-posts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: stretch;
  align-items: stretch; }
  nav.next-and-previous-posts > div {
    padding: 2rem; }

span.pulled-right {
  display: block;
  float: right;
  clear: right;
  padding: 0 0 0 10px;
  margin: 0 0 20px 20px;
  width: 230px;
  font-size: 1.5em;
  line-height: 1.3;
  text-align: right;
  color: #3a3a3a;
  border-left: 3px solid rgba(7, 26, 51, 0.5); }
  @media (max-width: 900px) {
    span.pulled-right {
      width: 200px;
      font-size: 1.3em; } }

span.pulled-left {
  display: block;
  float: left;
  clear: left;
  padding: 0 10px 0 0;
  margin: 0 20px 20px 0;
  width: 230px;
  font-size: 1.5em;
  line-height: 1.3;
  text-align: left;
  color: #3a3a3a;
  border-right: 3px solid rgba(7, 26, 51, 0.5); }
  @media (max-width: 900px) {
    span.pulled-left {
      width: 200px;
      font-size: 1.3em; } }

.icon-email-dims {
  width: 100px;
  height: 100px; }

.icon-etsy-dims {
  width: 32px;
  height: 32px; }

.icon-facebook-dims {
  width: 32px;
  height: 32px; }

.icon-flickr-dims {
  width: 32px;
  height: 32px; }

.icon-folder-dims {
  width: 100px;
  height: 100px; }

.icon-googleplus-dims {
  width: 32px;
  height: 32px; }

.icon-instagram-dims {
  width: 32px;
  height: 32px; }

.icon-linkedin-dims {
  width: 32px;
  height: 32px; }

.icon-location-dims {
  width: 100px;
  height: 100px; }

.icon-mail-dims {
  width: 100px;
  height: 100px; }

.icon-paypal-dims {
  width: 32px;
  height: 32px; }

.icon-rss-dims {
  width: 32px;
  height: 32px; }

.icon-search-dims {
  width: 100px;
  height: 100px; }

.icon-spotify-dims {
  width: 32px;
  height: 32px; }

.icon-tags-dims {
  width: 100px;
  height: 100px; }

.icon-twitter-dims {
  width: 32px;
  height: 32px; }

.icon-wordpressdotcom-dims {
  width: 32px;
  height: 32px; }

.icon-youtube-dims {
  width: 32px;
  height: 32px; }

/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
